<div [ngClass]="{'card-container': true, 'platform-card': type === 'platform'}">
    <ng-container *ngIf="type === 'game'">
        <a class="hero-image-container" routerLink="/jeux/{{item.id}}">
            <img [src]="item.background_image" alt="{{ item.name }}" class="hero-image"/>
        </a>
        <main class="main-content">
            <h1><a routerLink="/jeux/{{item.id}}">{{ item.name }}</a>
                <p>{{ item.rating }} / {{ item.rating_top }}</p>
            </h1>
            <br>
            <hr/>
            <br>
            <div class="flex-row">
                <ul>
                    <li *ngFor="let platformWrapper of item.parent_platforms" class="platform-item">
                        {{ platformWrapper.platform.name === 'Apple Macintosh' ? 'Mac' : platformWrapper.platform.name }}
                    </li>
                </ul>
            </div>
            <br>
            <hr/>


            <div class="card-attribute">
                <div *ngFor="let genre of item.genres">
                    <span class="genre-span">{{ genre.name }}</span>
                </div>

            </div>
        </main>
    </ng-container>

    <ng-container *ngIf="type === 'platform'">
        <a (click)="redirectToDetails()"  routerLink="/jeux" class="hero-image-container">
            <img [src]="item.image_background" alt="{{ item.name }}" class="hero-image"/>
        </a>
        <main class="main-content">
            <h1><a (click)="redirectToDetails()"  routerLink="/jeux">{{ item.name }}</a>
                <p>Number of games : {{ item.games_count }}</p>
            </h1>

        </main>
    </ng-container>
</div>
