.about-section {
    margin: 20px;
    text-align: center;
}

/* Style général des cartes */
.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: auto;
}

.card-img-top {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    margin-bottom: 10px;
    font-size: 20px;
}

.title {
    font-weight: bold;
    color: #555;
}


@media (max-width: 1440px) {
    .card-img-top {
        height: 30vw;
    }

}
/* Adapter la taille des cartes et leur contenu en fonction de la taille de l'écran */
@media (max-width: 768px) {

    .row > [class*='col-'] {
        margin-bottom: 20px; /* Ajoute un espace en bas de chaque colonne */
    }

    .card {
        width: 80%;
        margin: 0 auto;
    }

    .card-img-top {
        height: 500px; /* Ajuster la hauteur de l'image si nécessaire */
    }

    .card-title {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .card-img-top {
        height: 500px;
    }

    .card-title {
        font-size: 16px;
    }
}
