<div class="container hero p-5">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h1>The revolution is here.</h1>
            <p>Plongez dans l'univers dynamique et captivant des jeux vidéo avec notre plateforme d'information dédiée aux passionnés de gaming. Que vous soyez un joueur occasionnel, un compétiteur chevronné ou un curieux avide de découvertes, notre équipe passionnée vous offre une plongée en profondeur dans l'univers évolutif du gaming. </p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
        <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block logo">
            <div class=""><img height="350px" src="assets/gamegusto.webp" alt="erreur chargement" class="device">
                <div class="screen"></div>
            </div>
        </div>
    </div>
</div>