<div class="container hero p-5">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
            <h1>The revolution is here.</h1>
            <p>Mauris egestas tellus non ex condimentum, ac ullamcorper sapien dictum. Nam consequat neque quis sapien viverra convallis. In non tempus lorem. </p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
        <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block logo">
            <div class=""><img height="300px" src="assets/gamegusto.webp" alt="erreur chargement" class="device">
                <div class="screen"></div>
            </div>
        </div>
    </div>
</div>