<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col">
            <form [formGroup]="searchForm">
                <div>
                    <label>Search</label>
                    <input [ngModel]="lastQuery.query" formControlName="search" type="text" class="form-control" placeholder="Recherche ..."/>
                </div>
            </form>
        </div>
        <div class="col">
            <form [formGroup]="searchForm">
                <div>
                    <label>Search by platform</label>
                    <select formControlName="optionPlatform" class="form-select" aria-label="Default select example">
                        <option *ngFor="let platform of platforms" [value]="platform.id">{{ platform.name }}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col">
            <form [formGroup]="searchForm">
                <div>
                    <label>Search by publisher</label>
                    <select formControlName="optionPublisher" class="form-select" aria-label="Default select example">
                        <option *ngFor="let publisher of publishers" [value]="publisher.id">{{ publisher.name }}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col">
            <form [formGroup]="searchForm">
                <div>
                    <label>Search by genre</label>
                    <select formControlName="optionGenre" class="form-select" aria-label="Default select example">
                        <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col d-flex align-items-end">
            <form [formGroup]="searchForm">
                <button class="btn btn-primary" (click)="reset()">Reset</button>
            </form>
        </div>
    </div>
</div>
